.black-token
    color black

.grey-token
    color grey

.white-token
    color salmon

.blue-token
    color blue

.red-token
    color red

.yellow-token
    color yellow

.green-token
    color green

.orange-token
    color orange
