@require './tile'
@require './token-order'
@require './board'

// START MIXINS
token-color(color)
	color color
	&:before
		border 1px solid color
		background color
// END MIXINS

// BUTTONS
body
	font-family Helvetica, Arial
	background #eee

// HEADINGS
.page-heading
	font-size 30px
	text-align center

// TOKENS
.token-list
	list-style none
	padding 0px
	text-align: center;

.token
	display inline-block
	padding 0 20px
	text-align center
	&:before
		content ""
		border-radius 40px
		margin 40px auto
		width 60px
		height 80px
		display block

.black-token
	token-color(#333)

.grey-token
	token-color(#888)

.brown-token
	token-color(#836d4a)

.blue-token
	token-color(#38adff)

.red-token
	token-color(#ff3d38)

.purple-token
	token-color(#a483e1)

.green-token
	token-color(#89e183)

.orange-token
	token-color(orange)

.active
	font-size 22px
	padding 0 10px
	&:before
		margin 15px auto
		width 80px
		height 100px
		position relative
		top -10px


// INTERACTIVES
input
	border 1px solid grey
	border-radius 3px
	padding 10px
	margin 40px auto 0
	display block
	font-size 20px
	text-align center

.navigate
	background #ccc
	border-radius 5px
	color #333
	display block
	font-size: 20px
	margin 40px auto 0
	padding 20px
