tile-width = 200px
tile-height = tile-width

.board
	display flex
	flex-wrap wrap
	width tile-width * 6
	height tile-height * 6
	margin 0 auto

.tile
	width tile-width
	height tile-height
	font-size 60px
	line-height 200px
	text-align center
	background #EEEEEE
